// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../views/event/event.scss";

// Global styles

// Flexbox styles
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .flex-fill {
    flex: 1 1 auto;
  }
}

// Loading indicator
.loading {
  text-align: center;
  padding-top: 30vh;
  font-size: 2em;
}

// Modifed buttons
.button-fixed-icon {
    display: inline-block;
    width: 2em;
    font-size: 1.4em;
    text-align: left;
}
.button-fixed-label {
    display: inline-block;
    text-align: left;
    width: 80%;
}

// Modified list dividers
ion-item-divider ion-label {
    font-weight: bold;
}

// Modified ion-content
ion-content {
    background-color: $lightBg;
}

// Special global loading indicator
#gig_global_loading {
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.88);
    text-align: center;
    padding-top: 20vh;
    font-size: 2em;

    svg > * {
      fill: white;
      stroke: white;
    }
}

// Main loading indicator for views
.view-loading, .view-empty {
  text-align: center;
  margin-top: 20vh;
  font-size: 1.2em;
}
ion-list .view-loading, ion-list .view-empty { margin-top: 0; }

// Modified list with inputs
ion-list.gig-form {
  
  .item-inner {
    border-bottom: none;
  }

  ion-item {
      border-color: #ddd !important;
      border-bottom: 1px solid #ddd !important;
  }

  ion-label[fixed] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    min-width: 80px;
    max-width: 200px;
    font-size: .9em;
  }

  margin-bottom: 10pt;
  border: 1px solid #ddd;
  border-width: 0 1px 0 1px;

}

// Animate disabled tabs
.tab-button {
    // transition: all linear 400ms;
}

.tab-disabled {
    // transform: translateY(100%);
}


// Menus
.product-purchase {
  margin: 12px;
}

.cart-list {
  margin-bottom: 7pt;

  .item {
    border-bottom: 1pt solid #ddd;
    
    ion-label {
      white-space: nowrap;
    }

     ion-icon {
      font-size: 25pt;
    }
  }

  .cart-empty {
    text-align: center;
    padding-bottom: 20pt;
    padding-top: 10pt;
  }
}



// Buttons
.green {
  background-color: $greenBg; 
}

.item[danger] {
  color: #f53d3d;
}

// Title bars
ion-navbar[wide-title] {
  
  .toolbar-content {
      height: 2em;
      position: relative;
      top: 1pt;

      ion-title {
        padding: 0 10pt;
        
        * {
          text-align: left;
        }
      }
  }
}

ion-header.events-header ion-navbar[wide-title] ion-title * {
  padding: 0 3pt;
  padding-right: 30px;
  text-align: center;
}


// Order confirm screen
.order-final {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 90%;
  padding: 0 10pt;

  h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40pt;
  }

   h2 {
    margin: 0;
    margin-bottom: 10pt;
    font-weight: bold;
    font-size: 2em;
  }

  button {
    margin-top: 30pt;
  }
}


// Event screen
.events-header ion-navbar .toolbar-background { border-bottom: none; }
.events-header .back-button-text { display:  none; }
.events-header ion-toolbar .toolbar-background {
  border-top: none;
  background-color: #387ef5; //#153263 
}

// Event map view
.event-map-info {

  .gig-emi-title {
      font-size: 1.3em;
  }

  .gig-emi-date {
    font-weight: bold;
    margin-top: 5pt;
  }

  .gig-emi-button {
    color: #666;
    font-size: .9em;
  }

}

// Modified segment bar
ion-segment {

  .segment-button {
    color: white;
    font-variant: small-caps;
    text-transform: lowercase;

    border: none !important;
    height: 22pt !important;
    line-height: 28px !important;
    font-size: 11pt !important;

    &.segment-activated {
      background-color: #122e5d; //#061329;
      border-radius: 20pt !important;
    }

  }

}


// Modified datetime labels for today dates
.overwriteTodayDateFormat > .datetime-text {
  
  color: white;
  
  &:after {
  content: "Today";
  color: black;
  }

}