.events-list {
  
  ion-label {
    white-space: normal;
  }

  .event-item {
    border-bottom: 1pt solid #ddd;
    align-items: flex-start;
  
    ion-label {
        margin-top: 8px;
    }

    .event-title {
      margin-bottom: 5pt;
    }

    .event-venue {
      margin-bottom: 2pt;
    }

  }

  .item-inner {
      border-bottom: none !important;
  }

  ion-item-divider {
      border-bottom: 1pt solid #ddd;
      color: #222;
  }

  ion-thumbnail img {
    max-height: none;
    max-width: none;
    width: 70pt;
    height: 60pt;
    object-fit: cover;
    font-family: 'object-fit: cover;'
  }
}

.event-detail-photo {
    padding: 0;
    position: relative;

    * {
      padding: 0 !important;
      margin: 0 !important;
    }

    img {
      width: 100%;
      display: block;
    }

    .event-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #eee;
      background: rgba(0,0,0,0.5);
      box-shadow: 0 0 3pt 2pt rgba(0, 0, 0, 0.5);
      padding: 0 13pt !important;

      display: flex;
      align-items: center;

      span {
        display: inline-block;
        padding: 2pt 0 !important;
        vertical-align: top;
      }

      .when {
        flex: 0 0 auto;

        border-right: 1pt solid rgba(255, 255, 255, 0.21);
        padding-right: 10pt !important;
        font-size: .9em;
        line-height: 1.4em;
        text-align: center;
        font-weight: bold;
      }

      .info {
        flex: 1 1 auto;
        
        padding-left: 5pt !important;
        line-height: 1.6em;
      }
    }
}

.event-detail-venue {
  margin-bottom: 10pt;
}

.event-detail-address {
  font-size: .9em;
}

.event-detail-map {
  margin-top: 5pt;
  img {
    width: 100%;
    display: block;
  }
}


.order-delivery-item ion-label {
  white-space: normal;
}